
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> ReaderRace </title>
    <link rel = "stylesheet" href = "css/index.css">
</head>
<body id= "container">
    <h1> WELCOME TO READER RACE </h1>
    <section id = "FirstSection">CON ESTA APP NOSOTROS NOS VOLVEMOS EN PROFESIONALES MÁS RÁPIDOS Y EFECTIVOS CON LA INFORMACIÓN</section>
    <section id = "SecondSection">PORQUE NOSOTROS NO LEEMOS CON LOS LABIOS, SINO QUE ESCANEAMOS LAS PALABRAS CON LA VISTA Y NUESTRA MENTE ES LA QUE INTERPRETA LAS PALABRAS QUE VEMOS DE FORMA RÁPIDA.</section>
    <section id = "ThirdSection">SOLO ASÍ SOMOS EFECTIVOS Y QUEREMOS QUE TU LO LOGRES TAMBIÉN, ASÍ QUE DALE NEXT PARA COMENZAR EL JUEGO </section>
    <img src= "img/logoApp.png">
    <button id = "next">Siguiente</button>
</body>
<Scripts src= "js/estilosMain.js">  </Scripts>
</html>
=======






<!--Scripts-->
<script src="js/estilosMain.js"></script>
